@import url(//db.onlinewebfonts.com/c/5fd82f3bb8dcfc3ce611fab541b92241?family=DIN+Pro+Medium);
@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);

.main {
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  background-image: url("../../../resourses/png/bg3.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Base Content */

.content {
  padding-left: 35vw;
}

.keywords {
  font-family: "DIN Pro Medium", serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  margin: 0;
  font-size: 3vmin;
  padding-top: 6vh;
  padding-bottom: 1vh;
}

.brandname {
  font-family: "Gilroy", serif;
  text-transform: uppercase;
  font-size: 12vmin;
  letter-spacing: 1vmin;
  font-weight: lighter;
  margin: 0;
  padding-bottom: 10vmin;
  margin-left: -0.8vmin;
}

.brandname span {
  font-weight: bold;
}

.features {
  display: flex;
  font-family: "DIN Pro Medium", serif;
  font-size: 3vmin;
}

.featiresIcon {
  height: 8vmin;
  position: absolute;
}

.features1 {
  width: 30vw;
  height: 32vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 33px 12px rgba(34, 60, 80, 0.1);
  margin: 0;
  letter-spacing: 0.09vw;
  margin-right: 5vmin;
  border-top-right-radius: 6vmin;
  border-bottom-right-radius: 6vmin;
  padding-top: 8vmin;
  padding-bottom: -8vh;
  padding-right: 3vmin;
}

.features1::before {
  content: "";
  width: 21vw;
  height: 40vh;
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  right: -135vw;
  bottom: 12.65vmin;
}

.features1 img {
  bottom: 48vmin;
  left: 235vw;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.features2 {
  width: 20vw;
  height: 15vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.09vw;
  margin: 0;
  margin-bottom: 5vmin;
  padding: 3vmin;
  box-shadow: 4px 4px 33px 12px rgba(34, 60, 80, 0.1);
  border-radius: 6vmin;
}
.features2 img {
  bottom: 48vmin;
  left: 275vw;
}

/* Pictures */

.bottle {
  position: absolute;
  height: 100vh;
  bottom: 0;
  left: 200vw;
  user-select: none;
  pointer-events: none;
  z-index: 20;
}

/* Bubbles */

.bubbles img {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.bubble1 {
  bottom: 0vh;
  left: 220vw;
  height: 7vmin;
  z-index: 30;
  animation: bubble1 10s infinite linear;
}
@keyframes bubble1 {
  0% {
    bottom: 0vh;
    left: 217vw;
    height: 9vmin;
  }
  50% {
    bottom: 0vh;
    left: 220vw;
    height: 7vmin;
  }
  75% {
    bottom: -2vh;
    left: 219vw;
    height: 8vmin;
  }
  100% {
    bottom: 0vh;
    left: 217vw;
    height: 9vmin;
  }
}

.bubble2 {
  bottom: 19vh;
  left: 203vw;
  height: 9vmin;
  z-index: 30;
  animation: bubble2 8s infinite linear;
}
@keyframes bubble2 {
  0% {
    bottom: 19vh;
    left: 203vw;
    height: 9vmin;
  }
  50% {
    bottom: 17vh;
    left: 205vw;
    height: 8vmin;
  }
  75% {
    bottom: 16vh;
    left: 204vw;
    height: 9vmin;
  }
  100% {
    bottom: 19vh;
    left: 203vw;
    height: 9vmin;
  }
}

.bubble3 {
  bottom: 16vh;
  left: 223vw;
  height: 9vmin;
  z-index: 15;
  animation: bubble3 12s infinite linear;
}
@keyframes bubble3 {
  0% {
    bottom: 16vh;
    left: 223vw;
    height: 9vmin;
  }
  50% {
    bottom: 18vh;
    left: 222vw;
    height: 8vmin;
  }
  75% {
    bottom: 16vh;
    left: 222vw;
    height: 9vmin;
  }
  100% {
    bottom: 16vh;
    left: 223vw;
    height: 9vmin;
  }
}

.bubble4 {
  bottom: 37vh;
  left: 201vw;
  height: 4vmin;
  z-index: 30;
  opacity: 0.7;
  animation: bubble4 8s infinite linear;
}
@keyframes bubble4 {
  0% {
    bottom: 37vh;
    left: 201vw;
    height: 4vmin;
  }
  50% {
    bottom: 35vh;
    left: 204vw;
    height: 3.5vmin;
  }
  75% {
    bottom: 34vh;
    left: 202vw;
    height: 4vmin;
  }
  100% {
    bottom: 37vh;
    left: 201vw;
    height: 4vmin;
  }
}

.bubble5 {
  bottom: 45vh;
  left: 218vw;
  height: 15vmin;
  z-index: 15;
  animation: bubble5 8s infinite linear;
}
@keyframes bubble5 {
  0% {
    bottom: 45vh;
    left: 218vw;
    height: 15vmin;
  }
  50% {
    bottom: 43vh;
    left: 217vw;
    height: 19vmin;
  }
  75% {
    bottom: 44vh;
    left: 216vw;
    height: 18vmin;
  }
  100% {
    bottom: 45vh;
    left: 218vw;
    height: 15vmin;
  }
}

.bubble6 {
  bottom: 68vh;
  left: 208vw;
  height: 4vmin;
  z-index: 15;
  animation: bubble6 8s infinite linear;
}
@keyframes bubble6 {
  0% {
    bottom: 68vh;
    left: 208vw;
    height: 4vmin;
  }
  50% {
    bottom: 67vh;
    left: 208.2vw;
    height: 3vmin;
  }
  75% {
    bottom: 68vh;
    left: 208.5vw;
    height: 3vmin;
  }
  100% {
    bottom: 68vh;
    left: 208vw;
    height: 4vmin;
  }
}

.bubble7 {
  bottom: 71vh;
  left: 218vw;
  height: 9vmin;
  z-index: 30;
  opacity: 0.75;
  animation: bubble7 10s infinite linear;
}
@keyframes bubble7 {
  0% {
    bottom: 71vh;
    left: 218vw;
  }
  75% {
    bottom: 68vh;
    left: 220vw;
  }
  100% {
    bottom: 71vh;
    left: 218vw;
  }
}

.bubble8 {
  bottom: 86vh;
  left: 219vw;
  height: 5vmin;
  z-index: 30;
  opacity: 0.6;
  animation: bubble8 9s infinite linear;
}
@keyframes bubble8 {
  0% {
    bottom: 86vh;
    left: 219vw;
  }
  50% {
    bottom: 84vh;
    left: 216vw;
  }
  75% {
    bottom: 88vh;
    left: 215vw;
  }
  100% {
    bottom: 86vh;
    left: 219vw;
  }
}
